.button:hover {
    background-size: 120%;
    cursor: pointer;
}

.custom-box-link {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 8);
    background: #8a254b;
}